<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1> Edit Topic </h1>
      <p> Topic Suggestions: </p>
      <ul>
        <li> How do you procrastinate at work </li>
        <li> Songs you sing in the shower </li>
        <li> Things your Dog might be thinking </li>
      </ul>
    </div>
    <div class="col-md-8">
      <%= render 'topics/form' %>
    </div>
  </div>
</div>

<% content_for :analytic do %>
  <script type="text/javascript"> $(document).ready(function(){ blocmetrics.report("Edit Topic Visit"); }); </script>
<% end %>
